body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    margin-top: 100px;
}
form {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
input, select, button {
    margin: 10px;
    padding: 10px;
}

