apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
  namespace: form-app
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard      
  resources:
    requests:
      storage: 1Gi              # Storage size
  volumeName: mysql-pv      

